.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: url('../../assets/images/bgi.jpg') no-repeat;
  background-size: cover;
}
.form {
  padding: 30px;
  width: 260px;
  background: #fff;
  border-radius: 6px;
}
.el-button {
  width: 100%;
}